
<app-hero-overview [formGroup]="profileForm">
  <app-hero-detail [formGroup]="profileForm.controls.address"></app-hero-detail>
</app-hero-overview>


<form [formGroup]="person"  *ngIf="person">
  <h2>Person</h2>

  <label for="name">First Name: </label>
  <input id="name" type="text" formControlName="name" />

  <label for="age">Age: </label>
  <input id="age" type="number" formControlName="age" />

  <label for="location">Location: </label>
  <input id="location" type="text" formControlName="location" />

</form>

<div *ngIf="person && person.controls.name.invalid && (person.dirty || person.touched)"
    class="alert alert-danger">

  <div *ngIf="person.controls.name.errors?.['required']">
    Name is required.
  </div>
  <div *ngIf="person.controls.name.errors?.['minlength']">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="person.controls.name.errors?.['forbiddenName']">
    Name cannot be Bob.
  </div>
</div>
